---
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
}

export interface Props {
  secondaryLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { secondaryLinks = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-slate-700 not-prose bg-[#0F3D91]']}>
  <div class="absolute inset-0 pointer-events-none dark:bg-dark" aria-hidden="true"></div>

  <div class="relative px-4 py-10 mx-auto text-white max-w-7xl sm:px-6 md:py-12">
    <!-- 회사명 + 회사 정보 -->
    <div class="col-span-12 lg:col-span-4">
      <!-- 회사명 -->
      <div class="mb-2">
        <a class="inline-block text-xl font-bold text-white" href={getHomePermalink()}>
          {SITE?.name}
        </a>
      </div>

      <!-- 회사 상세 정보 -->
      <div class="mb-4 space-y-1 text-sm text-slate-200">
        <p>대표이사 : 류병욱</p>
        <p>사업자등록번호 : 228-86-02615</p>
        <p>판교 오피스 : 경기도 성남시 분당구 분당내곡로 159, KCC 웰츠타워 A동 12층</p>
        <p>이메일 : sales@humantech-group.com</p>
      </div>

      <!-- Terms / Privacy -->
      <div class="flex gap-1 text-sm">
        {
          secondaryLinks.map(({ text, href }, index) => (
            <>
              {index !== 0 ? ' · ' : ''}
              <a
                class="transition duration-150 ease-in-out text-slate-200 hover:text-white hover:underline"
                href={href}
                set:html={text}
              />
            </>
          ))
        }
      </div>
    </div>

    <!-- Copyright -->
    {
      footNote && (
        <div class="mt-8 text-sm text-slate-300">
          <Fragment set:html={footNote} />
        </div>
      )
    }
  </div>
</footer>
